'''
THIS FILE IS AN EXAMPLE ONLY!
NONE OF THE SETTINGS IN THIS FILE WILL WORK OUT OF THE BOX
RENAME THIS FILE TO SECURE.py AND INCLUDE THIS FILE IN YOUR .GITIGNORE
'''
SECURE_SETTINGS = {
	'django_db_user': 'changeme',
	'django_db_pass': 'changeme',
	'django_secret_key': 'changeme,',
	'lti_oauth_credentials': {
		'key': 'value',
	},
	'admins': (
		('Admin User', 'admin_user@example.com'),
	),
	'canvas_token' : 'changeme',
}